<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="test">
        <div>你好，{{content}},{{description}}</div>
        <div>{{description}}</div>
        <input type="text" v-model="obj.x">{{obj.x}}
        <ul>
            <li v-for="(item) in arr">{{item.name}},{{item.age}}</li>
        </ul>
    </div>
    <script type="module">
        import Due from './core/index.js';
        window.vm = new Due({
           el: 'test',
           data: {
               content: 'wsl',
               description: 'hello,wsl',
               obj:{
                   x: 1,
                   y: 2
               },
               arr: [
                   {
                       name:'wsl',
                       age: 20
                   },
                   {
                       name: 'zft',
                       age: 21
                   }
               ]
           }
        });
    </script>
</body>
</html>
